@import './animations-mixins.scss';

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.2s;
}

html, body{
    height: 100%;
  }

.spacer-sm {
    height: 3%;
}

.spacer-lg {
    height: 11%;
}

.spacer {
    height: 6%;
}

.spacer-mini {
    height: 1.5%;
}


@media screen and (max-width: 800px) {
    .rcw-launcher {
        bottom: 7%;
        background: linear-gradient(180deg, #00897C 0%, #0098AE 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .rcw-messages-container {
        background: #E5E5E5;
    }

    .rcw-widget-container {
        position: fixed;
        z-index: 0;
        height: 0%;
    }
    .opened {
        height: 100%;
        z-index: 9999;
    }

    .rcw-conversation-container {
        
        @include animated;
        @include animateFaster;
        @include slideInUp;
        //@include slideOutDown;
    }
    

    .rcw-conversation-container .rcw-title {
        padding: 10px 0 15px;
    }

    .rcw-conversation-container .rcw-close-button {
        background: transparent;
        top: 30px;

    }

    .rcw-conversation-container .rcw-header {
        background: linear-gradient(180deg, #00897C 0%, #0098AE 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 15px 0 15px;
    }

    .rcw-client .rcw-message-text {
        background: rgba(250, 252, 253, 0.46);
        backdrop-filter: blur(33px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;
    }

    .rcw-response .rcw-message-text {
        background: #FFFFFF;
        backdrop-filter: blur(33px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;
    }
}

.rcw-send {
    img {
        filter: brightness(0) saturate(100%);
    }
}

@media (display-mode: standalone) and (max-height: 830px) {

    .rcw-conversation-container {
        height: calc(92%);
    }
}

@media screen and (max-height: 812px) {

    .rcw-conversation-container {
        height: calc(93%);
    }
}


@media screen and (max-height: 800px) {

    .rcw-conversation-container {
        height: calc(92%);
    }
}

@media screen and (max-height: 600px) {

    .rcw-conversation-container {
        height: calc(87%);
    }
}

@media screen and (max-height: 570px) {

    .rcw-conversation-container {
        height: calc(90%);
    }
}

@media screen and (max-height: 600px) {

    .rcw-conversation-container {
        height: calc(87%);
    }
}