@import './animations-mixins.scss';

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.2s;
    background-color: #E5E5E5;
}

html,
body {
    height: 100%;

}

.spacer-sm {
    height: 3vh;
}

.spacer-lg {
    height: 11vh;
}

.spacer {
    height: 6vh;
}

.spacer-mini {
    height: 1.5vh;
}

.bounceIn-page {
    @include animated;
    @include animateFaster;
    @include slideInUp;
}

@media screen and (max-width: 800px) {

    .header {
        background: linear-gradient(180deg, #00897C 0%, #0098AE 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 15px 0 15px;
        margin-bottom: 0;
    }

    .header .rcw-title {
        padding: 10px 0 15px;
        ;
        color: #fff;
        margin-bottom: 0;
    }

    .rcw-launcher {
        bottom: 7%;
        background: linear-gradient(180deg, #00897C 0%, #0098AE 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .rcw-messages-container {
        background: #E5E5E5;
    }

    .rcw-widget-container {
        position: fixed;
        z-index: 0;
        height: 0%;
    }

    .opened {
        height: 100%;
        z-index: 9999;
    }

    .rcw-conversation-container {

        @include animated;
        @include animateFaster;
        @include slideInUp;
        //@include slideOutDown;
    }


    .rcw-conversation-container .rcw-title {
        padding: 10px 0 15px;
    }

    .rcw-conversation-container .rcw-close-button {
        background: transparent;
        top: 30px;

    }

    .rcw-conversation-container .rcw-header {
        background: linear-gradient(180deg, #00897C 0%, #0098AE 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 15px 0 15px;
    }

    .rcw-client .rcw-message-text {
        background: rgba(250, 252, 253, 0.46);
        backdrop-filter: blur(33px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;
    }

    .rcw-response .rcw-message-text {
        background: #FFFFFF;
        backdrop-filter: blur(33px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;
    }

    .cart-container {
        position: fixed;
        z-index: 0;
        width: 100%;
    }
}

.rcw-send {
    img {
        filter: brightness(0) saturate(100%);
    }
}

@media (display-mode: standalone) and (max-height: 830px) {

    .rcw-conversation-container {
        height: calc(92%);
    }

    .cart-container {
        height: calc(92%);
    }
}

@media screen and (max-height: 812px) {

    .rcw-conversation-container {
        height: calc(93%);
    }

    .cart-container {
        height: calc(93%);
    }
}


@media screen and (max-height: 800px) {

    .rcw-conversation-container {
        height: calc(92%);
    }

    .cart-container {
        height: calc(92%);
    }
}

@media screen and (max-height: 600px) {

    .rcw-conversation-container {
        height: calc(87%);
    }

    .cart-container {
        height: calc(87%);
    }
}

@media screen and (max-height: 570px) {

    .rcw-conversation-container {
        height: calc(90%);
    }

    .cart-container {
        height: calc(90%);
    }
}

@media screen and (max-height: 600px) {

    .rcw-conversation-container {
        height: calc(87%);
    }

    .cart-container {
        height: calc(87%);
    }
}

.rcw-widget-container {
    z-index: 100;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
    outline: none !important;
}